---
import SFormField from '../structures/SFormField.astro'
import ASliderFormField from '../atoms/ASliderFormField.astro'
import ASelectFormField, { type SelectOption } from '../atoms/ASelectFormField.astro'
import { Easing } from '@tweenjs/tween.js'

const easingOptions: SelectOption[] = Object.entries(Easing).flatMap(([easing, group]) => {
  return [
    ...Object.keys(group).map(option => ({
      value: `${easing}.${option}`,
      label: `${easing} | ${option}`
    }))
  ]
})
---

<div class="OLineCanvasForm">
  <form
    class="form"
    id="lines-canvas-form"
  >
    <ASliderFormField
      min={0}
      max={100}
      step={1}
      value={16}
      label="Lines"
      name="lines"
      id="lines"
    />

    <ASliderFormField
      min={0}
      max={100}
      step={1}
      value={16}
      label="Distance"
      name="distance"
      id="distance"
    />

    <ASliderFormField
      min={0}
      max={100}
      step={1}
      value={16}
      label="Amplitude"
      name="amplitude"
      id="amplitude"
    />

    <ASliderFormField
      min={0}
      max={100}
      step={1}
      value={2}
      label="Thickness"
      name="thickness"
      id="thickness"
    />

    <ASliderFormField
      min={-0.1}
      max={0.05}
      step={0.01}
      value={0.01}
      label="Perspective"
      name="perspective"
      id="perspective"
    />

    <ASliderFormField
      min={0}
      max={256}
      step={1}
      value={64}
      label="Steps"
      name="steps"
      id="steps"
    />

    <ASliderFormField
      min={0}
      max={8}
      step={1}
      value={3}
      label="Colors"
      name="colors"
      id="colors"
    />

    <ASelectFormField
      label="Lines Easing"
      name="easing"
      id="easing"
      options={easingOptions}
      value="Quadratic.InOut"
    />

    <label for="background">Background:</label>
    <input
      type="color"
      id="background"
      name="background"
      value="#181818"
    >

    <hr>

    <ASliderFormField
      min={0}
      max={16_000}
      step={500}
      value={2_000}
      label="Animation Duration (ms)"
      name="animation-duration"
      id="animation-duration"
    />

    <ASelectFormField
      label="Animation Easing"
      name="easing"
      id="easing"
      options={easingOptions}
      value="Quadratic.InOut"
    />
  </form>

  <div class="preview">
    <slot/>
  </div>
</div>

<script>
  const wrapper = document.querySelector<HTMLFormElement>('.OLineCanvasForm')
  const form = wrapper?.querySelector('form')
  const linesCanvasElement = wrapper.querySelector('lines-canvas')
  if (!wrapper) {
    throw new Error('Could not get form')
  }

  if (!linesCanvasElement) {
    throw new Error('Could not get lines-canvas element')
  }

  form.addEventListener('change', function (event) {
    const element = event.target
    console.info({ event, element })

    if (!element) {
      throw new Error('Could not get form element')
    }

    if (!(element instanceof HTMLInputElement)) {
      throw new Error('Event target is not a form element')
    }

    linesCanvasElement.setAttribute(element.name, element.value)
  })

  const data = new FormData(form)
  for (const [name, value] of data.entries()) {
    linesCanvasElement.setAttribute(name, value)
  }
</script>

<style>
  .OLineCanvasForm {
    display: flex;
    flex-direction: row;
    gap: var(--spacer-lg);
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-md);
    width: 30%;
  }

  .preview {
    width: 70%;
    height: 100%;
  }
</style>