---
import ASliderFormField from '../atoms/ASliderFormField.astro'
import AColorFormField from '../atoms/AColorFormField.astro'
import ASelectFormField, { type SelectOption } from '../atoms/ASelectFormField.astro'
import SFormRow from '../structures/SFormRow.astro'
import { EASING_STRINGS, type EasingString } from '../../lib/config.ts'
import AButton from '../atoms/AButton.astro'

const easingOptions: SelectOption[] = EASING_STRINGS.flatMap((easing: EasingString) => {
  return [
    {
      value: easing,
      label: easing.replace('.', ' | ')
    }
  ]
})

const lineCapOptions: SelectOption[] = [
  { value: 'round', label: 'Round' },
  { value: 'butt', label: 'Butt' },
  { value: 'square', label: 'Square' }
]

const lineJoinOptions: SelectOption[] = [
  { value: 'round', label: 'Round' },
  { value: 'miter', label: 'Miter' },
  { value: 'bevel', label: 'Bevel' }
]
---

<div class="OLineCanvasForm">
  <form
    class="form"
    id="lines-canvas-form"
  >
    <ASliderFormField
      min={1}
      max={128}
      step={1}
      value={16}
      label="Lines"
      name="lines"
      id="lines"
    />

    <ASliderFormField
      min={0}
      max={64}
      step={1}
      value={12}
      label="Steps"
      name="steps"
      id="steps"
    />

    <ASliderFormField
      min={1}
      max={8}
      step={1}
      value={3}
      label="Colors"
      name="colors"
      id="colors"
    />

    <ASliderFormField
      min={-64}
      max={64}
      step={1}
      value={16}
      label="Distance"
      name="distance"
      id="distance"
    />

    <ASliderFormField
      min={0}
      max={100}
      step={1}
      value={16}
      label="Amplitude"
      name="amplitude"
      id="amplitude"
    />

    <ASliderFormField
      min={1}
      max={16}
      step={1}
      value={2}
      label="Thickness"
      name="thickness"
      id="thickness"
    />

    <ASliderFormField
      min={0}
      max={Math.PI}
      step={0.01}
      value={Math.PI / 8}
      label="Perspective"
      name="perspective"
      id="perspective"
    />

    <AColorFormField
      label="Background"
      name="background"
      id="background"
      value="#181818"
    />

    <SFormRow label="Line Style">
      <ASelectFormField
        label="Cap"
        name="line-cap"
        id="line-cap"
        options={lineCapOptions}
        value="round"
      />

      <ASelectFormField
        label="Join"
        name="line-join"
        id="line-join"
        options={lineJoinOptions}
        value="round"
      />

      <ASelectFormField
        label="Easing"
        name="easing"
        id="easing"
        options={easingOptions}
        value="Quadratic.InOut"
      />
    </SFormRow>

    <SFormRow label="Animation">
      <ASliderFormField
        min={64}
        max={4096}
        step={64}
        value={640}
        label="Duration (ms)"
        name="animation-duration"
        id="animation-duration"
      />

      <ASelectFormField
        label="Easing"
        name="animation-easing"
        id="animation-easing"
        options={easingOptions}
        value="Quadratic.InOut"
      />
    </SFormRow>

    <div class="buttons">
      <AButton>In</AButton>
      <AButton>Out</AButton>
      <AButton>Loop</AButton>
    </div>
  </form>

  <div class="preview">
    <slot/>
  </div>
</div>

<script>
  const wrapper = document.querySelector<HTMLFormElement>('.OLineCanvasForm')
  if (!wrapper) {
    throw new Error('Could not get form')
  }

  const form = wrapper.querySelector<HTMLFormElement>('form')

  if (!form) {
    throw new Error('Could not get form element')
  }

  form.addEventListener('input', function (event) {
    const element = event.target

    if (!element) {
      throw new Error('Could not get form element')
    }

    if (!(element instanceof HTMLInputElement) && !(element instanceof HTMLSelectElement)) {
      throw new Error('Event target is not a form element')
    }
    const linesCanvasElement = wrapper.querySelector('lines-canvas')

    if (!linesCanvasElement) {
      throw new Error('Could not get lines-canvas element')
    }
    linesCanvasElement.setAttribute(element.name, element.value)
  })
</script>

<style lang="scss">
  @use "../../variables" as *;

  .OLineCanvasForm {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--spacer-lg);
    width: 100%;

    @include desktop {
      flex-direction: row;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-md);
    width: 100%;

    @include desktop {
      width: 30%;
    }
  }

  .preview {
    width: 100%;
    height: 100%;

    @include desktop {
      width: 70%;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: var(--spacer-xs);
  }
</style>